@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}

.message-box {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.message-box::-webkit-scrollbar {
  display: none; 
}

.message-box p {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  overflow:none;
}

